html, body {
  height: 100%;
  margin: 0; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


main {
  flex: 1; 
}

.custom-footer {
  width: 100%;
  margin-top: 0px;
  background: linear-gradient(90deg, #2d7a1f, #4a9e32);
  color: #fff;
  text-align: center;
  padding: 15px 0 10px 0;
  font-family: inherit;
}
